:root {
    --purple-000: #1e1e3f;
    --purple-001: #2d2b55;
    --purple-002: #ad70fc46;
    --purple-003: #1f1f41;
    --purple-004: #a599e9;
    --yellow-000: #fad000;
    --pink-000: #b362ff88;
    --pink-001: #b362ff;
    --white-000: #fff;
    
    --green-equal: #00ff009a;

    --body-bg: #1f1f41;
    --black-000: #000;

    --row-height: 60px;
    --col-width: 90px;
    --font-size-small: 20px;
    --font-size-medium: 32px;
    --font-size-large: 48px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    #content, #right {
        display: block;
        margin: auto;
    }
    #sourcecode, #left {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --row-height: 40px;
        --col-width: 60px;
        --font-size-small: 12px;
        --font-size-medium: 16px;
        --font-size-large: 24px;
    }
}

body {
    margin: 0 auto;
    background-color: var(--body-bg);
}

#content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    align-items: center;
    max-height: 80vh;
}

#sourcecode {
    height: calc(8 * var(--row-height));
    max-height: calc(8 * var(--row-height));
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: right;
    background-color: var(--purple-001);
    color: var(--purple-004);
    padding: 20px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: var(--font-size-small);
    border: solid 1px var(--purple-004);
    white-space: pre-wrap;

    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

#left, #right {
    height: 100%;
    width: 100%;
}

.gridbase {
    background-color: var(--purple-001);
    margin: 0 auto;
    display: grid;
    width: calc(var(--col-width) * 4 + 20px);;
    max-width: calc(var(--col-width) * 4 + 20px);
    padding: 20px;
    border-radius: 20px;
    grid-template-rows: repeat(6, var(--row-height));
    grid-template-columns: repeat(4, var(--col-width));
    grid-gap: 10px;
    justify-content: center;
    box-shadow: 0px 0px 2px var(--white-000);
}

.gridbase > div {
    border-radius: 5px;
    font-family: sans-serif;
    font-size: var(--font-size-medium);
    font-weight: 800;
    border: solid 1px var(--black-000);
    text-align: center;
    vertical-align: center;
    line-height: var(--row-height);
}

.gridscreen, #calc_screen {
    grid-area: 1/1/2/5;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--purple-000);
    font-family: sans-serif;
    font-size: var(--font-size-large);
    color: var(--white-000);
    text-align: right;
    padding-right: 5px;
}
    .gridscreen, .gridscreen:hover, .gridscreen:active,
    #calc_screen, #calc_screen:hover, #calc_screen:active {
        background-color: var(--purple-000);
        font-family: sans-serif;
        font-size: var(--font-size-large);
        color: var(--white-000);
        text-align: right;
        padding-right: 5px;
    }
    .gridscreen::-webkit-scrollbar {
        display: none;
    }

.gridc {
    grid-area: 2/1/3/3;
    font-size: var(--font-size-medium);
}

.gridce {
    grid-area: 2/3/3/5;
    font-size: var(--font-size-medium);
}

.gridnumber, .griddot {
    background-color: var(--purple-002);
    border: solid 1px var(--purple-000);
    color: var(--yellow-000);
}
    .gridnumber:hover, .griddot:hover  {
        background-color: var(--pink-000);
        border-color: var(--yellow-000);
    }
    .gridnumber:active, .griddot:active {
        background-color: var(--pink-001);
        border-color: var(--yellow-000);
    }

.gridoperator, .gridequal, .gridc, .gridce {
    background-color: var(--purple-002);
    border: solid 1px var(--purple-000);
    color: var(--yellow-000);
}
    .gridoperator:hover, .gridequal:hover, .gridc:hover, .gridce:hover {
        background-color:var(--pink-000);
        border-color: var(--yellow-000);
    }
    .gridoperator:active, .gridequal:active, .gridc:active, .gridce:active {
        background-color: var(--pink-001);
        border-color: var(--yellow-000);
    }

